.lmj-categories {
	text-align: center;
	padding-top: 30px;
}

.lmj-categories-select {
	margin-right: 15px;
}

.lmj-button {
	background-color: #31b572;
	color: white;
	border: none;
	border-radius: 4px;
	padding: 8px;
	cursor: pointer;
}