.lmj-shopping-list {
  width: 100%;
}

.lmj-plant-list {
  list-style-type: none;
  padding: 32px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.lmj-button {
  background-color: #31b572;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
}
